body{

  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  background-color: white;
  color: black;
}

header{

  text-align: center;
}

footer{

  text-align:center;
}

#pagetitle{

  text-align: left;
}

#menu{

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#search{

  margin-top: 200px;
  text-align: center;
}

#results{

  text-align: center;
}

li{

  display: inline;
  padding: 25px;
}

label{
    display: inline-block;
    float: center;
}

input{

  float: center;
  margin:10px 0;
}

.mediuminput{

  width: 500px;
}

.checkbox{

  width: 15px;
  height: 15px;
  margin-top: 25px;
}

.submit_button{

  text-align: center;
  margin-left:auto;
  margin-right:auto;
  color: #fff;
  background-color:#5B74A8;
  font-size: 25px;
  width: 150px;
  height: 40px;
  border:1px solid #29447E;
}
